.root {
  border-radius: 6px;
  border: 1px solid var(--Gray-Shade-07, #dcdbdd);
  background: var(--Gray-Shade-01, #fff);
  min-height: 32px;
  padding-inline: 16px;
  width: 100%;

  /* Shadows/depth 01 */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: var(--Gray-Shade-12, #1a1523);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Type Style/Emphasized */
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.15px;
  cursor: pointer;
}

.root:hover {
  background: #f9f8f9;
}
