.root {
  all: unset;
  width: 26px;
  height: 26px;
  display: flex;
  place-items: center;
  place-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.root[data-direction='default'] {
  border-radius: 6px;
  border: 1px solid #dcdbdd;
}

.root[data-direction='left'] {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #dcdbdd;
}

.root[data-direction='right'] {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #dcdbdd;
  border-top: 1px solid #dcdbdd;
  border-bottom: 1px solid #dcdbdd;
}

.root:hover {
  background: #f9f8f9;
}

.root[data-type='ghost'] {
  border: 1px solid transparent;
  background: transparent;
  box-shadow: transparent;
}

.root[data-type='ghost']:hover {
  border: 1px solid #dcdbdd;
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
}

.root[data-type='filled'] {
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
}
