.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0.5;
}

.root[data-selected='true'] {
  opacity: 1;
  pointer-events: none;
}

.display {
  display: flex;
  padding-block: 24px;
  border-radius: 8px;
  gap: 16px;
  align-items: center;
  font-size: 10px;
}

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  flex: 1;
}

.root[data-selected='true'] > .preview {
  border: 1px solid var(--Colors-Purple-Shade-10, #644fc1);
  box-shadow: 0px 0px 0px 4px rgba(124, 102, 220, 0.1);
}

.preview {
  background: #f3f1f3;
  padding: 12px;
  display: flex;
  border-radius: 6px;
  transition: all 0.6s;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 4px rgba(124, 102, 220, 0);
}

.preview:hover {
  background: #edecee;
}

.metas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #6f6e77;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  letter-spacing: 0;
  font-weight: 600;
}

.variation {
  color: #6f6e77;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  letter-spacing: 0;
  font-weight: 400;
}

.actions {
  align-items: center;
  display: flex;
  gap: 8px;
}
