.xxx {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-x: hidden;
}

.xx {
  display: flex;
  flex-direction: column;
  height: auto;
}

.x {
  display: flex;
  position: relative;
}

.frame {
  border: none;
  width: 1500px;
  transform: scale(calc(0.130667));
  transform-origin: left top;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}
