.overlay {
  background-color: #ffffff3e;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: relative;
  border-radius: 4px;
  position: fixed;
  top: 30%;
  left: 51.8%;
  transform: translate(-50%, 0%);
  width: 90vw;
  max-width: 640px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);

  border: 0.5px solid color(display-p3 1 1 1 / 0.2);

  background: rgba(27, 21, 36, 0.6);

  background: color(display-p3 0.102 0.0824 0.1373 / 0.6);

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 0.5px #000;

  box-shadow: 0px 0px 20px 0px color(display-p3 0 0 0 / 0.15),
    0px 0px 0px 0.5px color(display-p3 0 0 0);
  backdrop-filter: blur(20px);
}

.content:focus {
  outline: none;
}

.commandList {
  height: fit-content;
}

.commandListItem {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.commandListItemField {
  font-size: 12px;
  color: grey;
}

.commandListItemContent {
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.commandListItem:hover {
  background: rgba(255, 255, 255, 0.05);
}

.commandListItem[data-selected='true'] {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.commandListItemSC {
  color: rgb(151, 151, 152);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.commandListEmpty {
  padding: 12px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.commandSearch {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 16px;
  display: flex;
  color: rgb(255, 255, 255);
}

.commandInput {
  all: unset;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}

.commandInput::placeholder {
  color: rgba(255, 255, 255, 0.501);
}

.footer {
  font-size: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(255, 255, 255);
  line-height: 16px;
}
